@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  width: 14.5ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

body { font-size: 3.5em }
h1 { font-size: 0.5em }

.badge {
  display: inline-flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.2em 0.2em; /* Adjust the top and bottom padding */
  border-radius: 0.2em;
  font-size: 14px;
  white-space: nowrap;
}

.badge-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.2em;
  display: inline-block;
  vertical-align: middle;
}

.badge-text {
  color: #333;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.2em;
}
