---
import BaseLayout from '../layouts/BaseLayout.astro';
import TypewriterTitle from '../components/TypewriterTitle.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Button from '../components/button.astro';
import Badge from "../components/Badge.astro";
import Spotify from '../components/Spotify.svelte';
import Osu from '../components/Osu.svelte';
import Links from '../components/Links.astro';

const projects = [
    {
        imgSrc: "/img/catch.png",
        title: "CatchTheBalls",
        description: "My first python game. Pretty simple but I wanted to showcase anyway.",
        buttonHref: "https://github.com/EdericoDev/catchtheballs",
        buttonText: "Go to github page",
        buttonStyle: "#c99388"
    },
    {
        imgSrc: "/img/temp.gif", 
        title: "SimpleRPG",
        description: "Turn Based RPG, written in Python.",
        buttonHref: "https://github.com/EdericoDev/ede-tbrpg",
        buttonText: "Go to github page",
        buttonStyle: "#c99388"
    },
    {
        imgSrc: "/img/widget.png", 
        title: "Spotify and Osu Widgets",
        description: "Use the widgets of this site on yours with a simple tutorial included!",
        buttonHref: "https://github.com/EdericoDev/media-widgets",
        buttonText: "Go to github page",
        buttonStyle: "#c99388" 
    },
];

---

<BaseLayout title="ederico.dev">
    <header class="py-16">
        <div class="container mx-auto px-4 sm:px-8">
            <TypewriterTitle/>
        </div>
        <br>
        <div class="text-lg mx-auto max-w-2xl text-justify"> <Links /></div>
    </header>

    <main class="py-16">
        <div class="container mx-auto px-4 sm:px-8">

            <section class="mb-16">
                <p class="text-lg mx-auto max-w-2xl text-justify">
                    My nickname is edericodev or edericogames (he/him) and I'm a 15 years-old beginner self taught developer based in <Badge type="italy" href="https://youtu.be/drojd1HYtcM?si=xvjPnkDNgscCGHqA" label="Italy" />. <br> I love open source and I'm always looking for new ideas. <br>
                    I've always been a Windows user. My favorite tools for exploring this awesome world include: VSCode, CodePen and GitHub. <br>
                    My journey began a couple years ago with discord bots , then i moved to web developing and more complete projects. <br>
                    However, i also love coding with code languages like python , Javascript , HTML and CSS (even if they're not coding languages).
                </p>
                <div class="flex justify-center mt-4">
                </div>
            </section>
            

            <section class="mb-16">
                <h2 class="text-3xl font-bold mb-8 text-center">My Projects</h2>
                <div class="flex overflow-x-auto snap-x snap-mandatory">
                    {projects.map(project => (
                        <ProjectCard {...project} />
                    ))}
                </div>
            </section>

            <hr>
            <br>
            <section class="mb-16">
                <p class="text-lg text-center mx-auto max-w-2xl">
                    In my free time, I play <Badge type="osu" href="https://osu.ppy.sh/users/34603157" label="osu!" />. I really enjoy the standard mode. However, I'm not good at mania, catch or taiko. Check my real time stats below:
                </p>
                <div class="flex justify-center mt-4">
                    <div class="w-96 h-80"> 
                        <Osu client:load />
                    </div>
                </div>
                <p class="text-lg text-center mx-auto max-w-2xl mt-8">
                    I'm also a music passionate, and I listen to pretty much every genre on <Badge type="spotify" href="https://open.spotify.com/user/31w3g2o6tkydwgjzyuntt42gpi54?si=fdeb7fa8d94e45b7" label="spotify" />. Check what I'm into below:
                </p>
                <div class="flex justify-center mt-4">
                    <div class="w-96 h-80"> 
                        <Spotify client:load />
                    </div>
                </div>
                <p class="text-lg text-center mx-auto max-w-2xl mt-8">
                    The entire website was built with <Badge type="astro" href="https://astro.build/" label="astro" />, <Badge type="tailwindcss" href="https://tailwindcss.com/" label="tailwind" />, and <Badge type="svelte" href="https://svelte.dev/" label="svelte" />
                </p>
            </section>
        </div>
    </main>

</BaseLayout>