---
const skillsData = [
  { skill: 'JS', level: 50 },
  { skill: 'CSS', level: 65 },
  { skill: 'HTML', level: 65 },
  { skill: 'MDX', level: 45 },
  { skill: 'Astro', level: 45 },
  { skill: 'Tailwind', level: 60 },
];

skillsData.sort((a, b) => b.level - a.level);
---

<div class="w-full max-w-4xl p-4 bg-white rounded shadow-lg">
  <table class="charts-css column show-labels data-spacing-10">
    <caption>Skill Levels</caption>
    <thead>
      <tr>
        <th scope="col">Skill</th>
        <th scope="col">Level</th>
      </tr>
    </thead>
    <tbody>
      {skillsData.map(skill => (
        <tr>
          <th scope="row">{skill.skill}</th>
          <td style={`--size: ${skill.level / 100};`}>{skill.level}%</td>
        </tr>
      ))}
    </tbody>
  </table>
</div>
