---
import { Icon } from "astro-icon/components";

type Link = {
  href: string;
  label: string;
};

const links: Link[] = [
  {
    href: "https://github.com/edericodev",
    label: "github",
  },
  {
    href: "mailto:hello@ederico.dev",
    label: "e-mail",
  },
];
---

<div class="not-prose flex gap-x-3">
  {
    links.map((link) => (
      <a href={link.href} class="flex items-center gap-1 hover:underline">
        <Icon name="phantom" class="h-5 w-5" />
        <span class="font-bold">{link.label}</span>
      </a>
    ))
  }
</div>
