---
const { title, description } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title + " - ederico.dev"}</title>
  </head>
  <body class="bg-white dark:bg-zinc-900 dark:text-white">
    <div class="px-4 sm:px-6 py-8 sm:py-14">
      <main class="prose prose-zinc max-w-none sm:max-w-prose mx-auto dark:prose-invert">
        <slot />
        {
          Astro.url.pathname != "/" && (
            <a href="/" class="block mt-8">
              <button class="w-full sm:w-auto rounded-full border bg-zinc-50 px-4 py-2 font-bold text-zinc-700 dark:border-zinc-700 dark:bg-zinc-800 dark:text-white">
                {"< Homepage"}
              </button>
            </a>
          )
        }
      </main>
    </div>
  </body>
</html>
